{% extends "Registry/adminBase.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href='{% static "css/adminSendMessage.css" %}'>
{% endblock %}

{% block body %}
<div id='allMessage'>
    <a id="back" href="{% url 'adminViewMessage' %}"><i class="fas fa-arrow-left"></i> back</a>
    <a id="ease" href="#submit-btn"> Send <br> <i class="fas fa-arrow-down"></i></a>

    <form method="POST">
        {% csrf_token %}
        <div id="messageBox">
            <label id="tag"> Message: </label>
            <textarea rows='6' type="text" name="message" placeholder="Message here"
                id="message"></textarea>
            <br><br>
            <input id="search-bar" type="search" placeholder="Search by name" aria-label="Search" name="search_field">
            <input type="submit" name="search" value="search" id="search-submit">
            <table>
                <thead>
                    <tr>
                        <th style="font-size: calc(2.5vh)">Select all</th>
                        <th><input type="checkbox" class="check" name="selectall"></th>
                    </tr>
                    <tr>
                        <th style="font-size: calc(2.5vh)">Batch 1</th>
                        <th><input type="checkbox" class="check" name="batch1"></th>
                    </tr>
                    <tr>
                        <th style="font-size: calc(2.5vh)">Batch 2</th>
                        <th><input type="checkbox" class="check" name="batch2"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                    <tr>
                        <td class="labels">{{ student.username }}</td>
                        <td><input type="checkbox" class="check" name="{{ student.id }}"></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <input type="submit" name="send" id="submit-btn" value="Send">

        </div>
    </form>
</div>
{% endblock %}