{% extends "Registry/adminBase.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href='{% static "css/adminUploadFile.css" %}'>
{% endblock %}

{% block body %}
<div id="upload">
    <form method="POST" enctype="multipart/form-data" class="md-form">
        {% csrf_token %}
        <a id="ease" href="#submit-btn">
            Send <br> <i class="fas fa-arrow-down"></i></a>
        <label id="file-message"> File description: </label>
        {{ form.file_description }}
        {{ form.upload_file }}
        <br><br>

        <input id="search-bar" type="search" placeholder="Search by name" aria-label="Search" name="search_field">
        <input type="submit" name="search" value="search" id="search-submit">

        <table>
            <thead>
                <tr>
                    <th class="general"> Select all </th>
                    <th><input type="checkbox" name="selectall"></th>
                </tr>
                <tr>
                    <th class="general"> Batch 1</th>
                    <th><input type="checkbox" name="batch1"></th>
                </tr>
                <tr>
                    <th class="general"> Batch 2 </th>
                    <th><input type="checkbox" name="batch2"></th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td class="labels">{{ student.username }}</td>
                    <td><input type="checkbox" name="{{student.id}}"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <input type="submit" name="upload" id="submit-btn" value="upload"/>
    </form>
</div>
{% endblock %}