{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="180x180" href='{% static "favicon_io/apple-touch-icon.png" %}'>
    <link rel="icon" type="image/png" sizes="32x32" href='{% static "favicon_io/favicon-32x32.png" %}'>
    <link rel="icon" type="image/png" sizes="16x16" href='{% static "favicon_io/favicon-16x16.png" %}'>
    <link rel="manifest" href='{% static "favicon_io/site.webmanifest" %}'>
    <title>Teacher Page</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <link rel="stylesheet" href='{% static "css/adminBase.css" %}'>
    <link rel="stylesheet" href='{% static "css/modal.css" %}'>
    {% block style %}
    {% endblock %}

</head>

<body>
    <header>
        <nav>
            <a href="{% url 'adminhome' %}" id="title">
                <i class="fas fa-music"></i>Music</a>

            <button id="navbar-toggle" onclick="navbarToggle()">
                <i class="fas fa-bars"></i>
                {% if total > 0 %}
                <span id="notif-total">{{ total }}</span>
                {% elif requiresValidation %}
                <span class="notif">V</span>
                {% endif %}
            </button>

            <div id="navbarContent">
                <ul id="navbar-nav">
                    <li class="nav-item">
                        <a href="{% url 'studentsData' %}" class="nav-link">Students</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'attendance' %}" class="nav-link">Attendance</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'fees' %}" class="nav-link">Fees</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'adminViewMessage' %}" class="nav-link">Messages
                            {% if messagesUnseen > 0 %}
                            <span class="notif">{{ messagesUnseen }}</span>
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'adminViewFile' %}" class="nav-link">Materials</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'deleteUser' %}" class="nav-link">Delete</a>
                    </li>
                    {% if requiresValidation %}
                    <li class="nav-item">
                        <a href="{% url 'validateStudent' %}" class="nav-link">Validate<span class="notif">V</span></a>
                    </li>
                    {% endif %}
                    <li class='nav-item'>
                        <a href="{% url 'logout' %}" title="Log out" id="logout">Logout <i class="fas fa-sign-out-alt"
                                alt=></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div id="content">
        {% if messages %}
        <div id="blackout" onclick="closeModal()"></div>
        <div id="modal">
            <!-- Modal content-->
            <p id="modal-header">
                Messages
            </p>
            <div id="modal-body">
                <p>{% for message in messages %}
                    {{ message }} <br>
                    {% endfor %}
                </p>
            </div>
            <div id="modal-footer">
                <button type="button" id='modal-close-button' data-dismiss="modal" onclick="closeModal()">Close</button>
            </div>
        </div>
        {% endif %}

        <script>
            const closeModal = () => {
                document.querySelector('#modal').style.display = 'none';
                document.querySelector('#blackout').style.display = 'none';
            }
            const navbarToggle = () => {
                const toggle = document.querySelector('#navbarContent')
                if (toggle.style.display == 'unset')
                    toggle.style.display = 'none';
                else
                    toggle.style.display = 'unset';
            }
        </script>
        {% block body %}
        {% endblock %}
    </div>

    <footer id="footer">
        <div id="contact">
            Vidya Udupa: 9902880596
        </div>
        <div id="contributors">Developed by Karthik Udupa and Shubhayu Das</div>
    </footer>
</body>

</html>