{% extends "Registry/adminBase.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href = {% static "css/adminMessage.css" %}>
{% endblock %}

{% block body %}
    <div id = 'allMessage'>
    <form method="POST" id = "form">
        {% csrf_token %}
        <div class = "form-group" id = "messageBox">
            <label> Message: </label>
            <textarea rows = '6' class="form-control text-wrap" type="text" name = "message" placeholder="Message here"></textarea>
            <table class = "table table-striped table-bordered" id = "selectTable">
                <thead>
                    <tr>
                        <th style = "font-size: calc(2.5vh)">Select all</th>
                        <th><input type="checkbox" class = "check" name = "selectall"></th>
                    </tr>
                </thead>
                <tbody>
                {% for student in students %}
                    <tr>    
                        <td class = "labels">{{ student.username }}</td>
                        <td><input type="checkbox" class = "check" name = "{{student.id}}"></td>
                    </tr>
                {% endfor %}
                </tbody>
            <input type="submit" value="Post" class="btn login-btn btn-warning">
        </div>
    </form>
    {% if message %}
    {{ message }}
    {% endif %}
</div>
{% endblock %}