{% extends "Registry/adminBase.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href='{% static "css/adminViewMessage.css" %}'>
{% endblock %}

{% block body %}
<div id='allMessage'>
    <p id='sender'> <a href="{% url 'adminSendMessage' %}">Send a message <i class="fas fa-arrow-right"></i></a> </p>

    <p id="tags"> Messages received: </p>
    {% if received %}
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Message</th>
                <th>Sender</th>
            </tr>
        </thead>
        <tbody>
            {% for message in received %}
            <tr>
                <td> <a href="#" onclick="toggleMessage('{{message.id}}')"> </td>
                <td>{{ message.dates }}</td>
                <td>{{ message.sender }}</td>
            </tr>
            <tr id="post{{message.id}}" class="hidden">
                <td colspan="3">
                    {{ message.posts }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p id="no-message">No messages received</p>
    {% endif %}

    <br><br><br>

    <p id="tags">Messages sent:</p>
    <table class="table table-bordered striped" id="sentMessages">
        <thead>
            <tr>
                <th>Date</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            {% for message in sent %}
            <tr>
                <td> <a href="#" onclick="toggleMessage('{{message.id}}')"> {{ message.brief }}
                    </a> </td>
                <td>{{ message.dates }}</td>
            </tr>
            <tr id="post{{message.id}}" class="hidden">
                <td colspan="3">
                    Receivers: {{ message.receivers }} <br />
                    {{ message.posts }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    const toggleMessage = (id) => {
        const post = document.querySelector(`#post${id}`)
        if (post.classList.value === ''){
            post.classList = 'hidden';
        }
        else{
            post.classList = '';
        }
    }
</script>
{% endblock %}