{% extends "Registry/adminBase.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href = {% static "css/adminSendMessage.css" %}>
{% endblock %}

{% block body %}
    <div id = 'allMessage'>
        <a class="back" href="{% url 'adminViewMessage' %}"><i class="fas fa-arrow-left"></i> back</a>
        <a id = "ease" href="#send-message" class="float-right" style="text-align: center; color: black;padding: 0.5rem;"> Send <br> <i class="fas fa-arrow-down"></i></a>

        <form method="POST" id = "form">
            {% csrf_token %}
            <div class = "form-group" id = "messageBox">
                <label id = "tag"> Message: </label>
                <textarea rows = '6' class="form-control text-wrap" type="text" name = "message" placeholder="Message here" id = "desc"></textarea>
                <br><br>
                <input class="form-control mr-sm-2 mb-md-2" type="search" placeholder="Search" aria-label="Search" name = "search_field">
                <input type="submit" name="search" value="search" class="btn btn-outline-success my-2 my-sm-0 float-right mb-2" id = "submit">
                <div id = "selectTable">
                    <table class = "table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th style = "font-size: calc(2.5vh)">Select all</th>
                                <th><input type="checkbox" class = "check" name = "selectall"></th>
                            </tr>
                            <tr>
                                    <th style = "font-size: calc(2.5vh)">Batch 1</th>
                                    <th><input type="checkbox" class = "check" name = "batch1"></th>
                            </tr>
                            <tr>
                                    <th style = "font-size: calc(2.5vh)">Batch 2</th>
                                    <th><input type="checkbox" class = "check" name = "batch2"></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for student in students %}
                            <tr>    
                                <td class = "labels">{{ student.username }}</td>
                                <td><input type="checkbox" class = "check" name = "{{student.id}}"></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <input type="submit" name="send" id="send-message" value="Send" class="btn login-btn btn-warning float-right">

            </div>
        </form>
</div>
{% endblock %}