{% extends "Registry/adminBase.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href='{% static "css/attendance.css" %}'>
{% endblock %}

{% block body %}
<div id="attendanceAll">
    <form method="POST">
        {% csrf_token %}
        <input id="search-bar" type="search" placeholder="Search by name" aria-label="Search" name="search_field">
        <input type="submit" name="search" value="search" id="search-submit">

        <a id="ease" href="#submit-btn" class="float-right"> Update <br> <i class="fas fa-arrow-down"></i></a>
        <p id="niceness">Take me to:</p>
        <ul id="guides">
            <li>
                <a href="#batch1">Batch 1</a>
            </li>
            <li>
                <a href="#batch2">Batch 2</a>
            </li>
        </ul>
        <table class='table table-striped table-bordered'>
            <thead>
                <th>Name</th>
                <th>Present/<br id="mobile">Absent</th>
                <th>Last attended</th>
                <th>Numbers of days attended</th>
            </thead>

            <div>
                <tbody>
                    <tr>
                        <th colspan="4" id="batch1">Batch 1</th>
                    </tr>
                    {% for student in students.batch1 %}
                    <tr>
                        <td>{{ student.username }}</td>
                        <th><input type="checkbox" name="{{student.id}}"></th>
                        <td>{{ student.last_class_attended }}</td>
                        <td>{{ student.no_of_class_attended }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </div>

            <div>
                <tbody>
                    <tr>
                        <th colspan="4" id="batch2">Batch 2</th>
                    </tr>
                    {% for student in students.batch2 %}
                    <tr>
                        <td>{{ student.username }}</td>
                        <th><input type="checkbox" name="{{student.id}}"></th>
                        <td>{{ student.last_class_attended }}</td>
                        <td>{{ student.no_of_class_attended }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </div>

        </table>
        <input type="submit" name="attendance" value="Update" id="submit-btn">
    </form>
</div>

{% endblock %}