{% extends "Registry/studentBase.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href = {% static "css/downloadFile.css" %}>
{% endblock %}

{% block body %}
    <div id = "allFiles">
        <form method="POST" target="_blank">
            {% csrf_token %}
            <p id="tags">Files available:</p>
            {% if Files %}
            <table class = "table table-responsive table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="mr-auto">File name</th>
                        <th>Date</th>
                        <th>Select</th>
                    </tr>
                </thead>
                <tbody>
                    <fieldset>
                        {% for File in Files %}
                        <tr>
                            <td class="mr-auto"> <label for="File.id">{{File.name}}</label> </td>
                            <td>{{File.date}}</td>
                            <td> <input type="radio" class = "check" id = "{{File.id}}" name="fileField" value = "{{File.id}}"> </td>
                        </tr>
                    </fieldset>
                    {% endfor %}
                </tbody>
            </table>
            <input type="submit" value="Download" class="btn btn-warning float-right">
        </form>
        {% else %}
            <p id="niceness">No files uploaded at the moment!</p>
        {% endif %}
    </div>
{% endblock %}