{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <link rel="stylesheet" href='{% static "css/login.css" %}'>
</head>

<body>
    <div id="card">
        <div id="card-header">
            Sign In
        </div>
        <div id="card-body">
            <form method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                    {{ form.phone_number }}
                </div>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                    {{ form.password }}
                </div>
                <input type="submit" value="Login" id="login-btn">
            </form>
        </div>
        <div id="card-footer">
            <div class="links">
                Don't have an account? <a href="{% url 'signup' %}">Sign Up</a>
            </div>
            <div class="links">
                Forgot Password? <a href="{% url 'recoverPassword' %}">Click here</a>
            </div>
        </div>
    </div>

</body>

</html>