{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign up</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <link rel="stylesheet" href='{% static "css/signup.css" %}'>
</head>

<body>
    <div id="card">
        <div id="card-header">
            Sign Up
        </div>
        <div id="card-body">
            <form method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                    {{ form.username }}
                </div>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-phone"></i></span>
                    {{ form.phone_number }}
                </div>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                    {{ form.password }}
                </div>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                    {{ form.confirm_password }}
                </div>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-envelope-open"></i></span>
                    {{ form.email_address }}
                </div>
                <fieldset>
                    <div id="batches">
                        <label for="batch1" class="labels">Batch 1</label>
                        <input type="radio" name="Batch" class="radio" value=1 id="batch1" checked><br>
                        <label for="batch2" class="labels">Batch 2</label>
                        <input type="radio" name="Batch" class="radio" value=2 id="batch2">
                    </div>
                </fieldset>
                <div id="info">Batch1 : Mon and Thu <br> Batch2: Wed and Sat</div>
                <input type="submit" value="Sign up!" id="login-btn">
            </form>
        </div>
        <div id="card-footer">
            <div class="links">

            </div>
            <div class="links">
                Already have an account? <a href="{% url 'login' %}" style="color: orange">Login</a>
            </div>
            <div class="links">
                Forgot Password? <a href="{% url 'recoverPassword' %}">Click here</a>
            </div>
        </div>
    </div>

</body>

</html>