{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign up</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <link rel="stylesheet" href = {% static "css/signup.css" %}>
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <div class = "container">
        <div class = "d-flex justify-content-center h-100">
            <div class = "card">
                <div class = "card-header">
                    <h3>Sign Up</h3>
                </div>
                <div class = "card-body">
		            <form method="POST">
                        {% csrf_token %}
                        <div class = "input-group form-group">
                            <div class = "input-group-prepend">
                                <span class = "input-group-text"><i class="fas fa-user" style = "color:black;"></i></span>
                            </div>
                            <input type = "text" class = "form-control" placeholder = "Username" name = 'username' required = "required">
                        </div>
                        <div class = "input-group form-group">
                            <div class = "input-group-prepend">
                                <span class = "input-group-text"><i class="fas fa-key" style = "color:black;"></i></span>
                            </div>
                            <input type="password" class = "form-control" placeholder = "Password" required = "required" name = 'password'>
                        </div>
                        
                        <div class = "input-group form-group">
                            <div class = "input-group-prepend">
                                <span class = "input-group-text"><i class="fas fa-phone-square" style = "color:black;"></i></i></span>
                            </div>
                            <input type="text" class = "form-control" placeholder = "Contact number" required = "required" name = 'phone_number'>
                        </div>
                        <fieldset>
                        <div class = "input-group form-group">
                            <div class = "input-group-prepend">
                                <span class = "input-group-text"><i class="fas fa-key" style = "color:rgb(0, 0, 0);"></i></span>
                            </div>
                            <label for="batch1" style="color: white" style="width: 1cm">  Batch1</label>
                            <input type="radio" name = "Batch" class="form-control" placeholder = "Batch 1" value = 1 name = 'batch1'><br>
                            <label for="batch2" style="color: white">Batch2</label>
                            <input type="radio" name = "Batch" class = "form-control" value = 2 name = 'batch2'>
                        </div>
                        </fieldset>
                        <div class="form-group">
                            <input type="submit" value="Sign up!" class="btn float-right login_btn">
                        </div>
                    </form>  
                </div>
                <br><br><br><br><br><br>
                <h5 align = "center">Batch 1 : Monday and Thursday <br> Batch 2: Wednesday and Saturday </h5>
            </div>
        </div>
    </div>

</body>
</html>