{% extends "Registry/studentBase.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href = {% static "css/studentViewMessage.css" %}>
{% endblock %}

{% block body %}
    <div id = "viewAll">
        <a href="{% url 'studentSendMessage' %}" id = "sender">Send message to admin</a>
        <div id = "messageTable">
            <table class = "table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Message</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mess in message %}
                    <tr>
                        <td> {{ mess.posts }} </td>
                        <td> {{ mess.dates}} </td> 
                    </tr>
                    {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
{% endblock %}