{% extends "Registry/adminBase.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href = '{% static "css/studentData.css" %}'>
{% endblock %}

{% block body %}
<div id = "full">
    <p id = "niceness">Take me to:</p>
    <ul id = "guides">
        <li>
            <a href="#batch1">Batch 1</a>
        </li>
        <li>
            <a href="#batch2">Batch 2</a>
        </li>
    </ul>
    <table class = "table table-striped table-bordered table-hover table-responsive">  
        <thead>
            <tr>
                <th class = 'name'>Name</th>
                <th>Phone Number</th>
                <th>Number of classes attended</th>
                <th>Last attended on</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <th colspan="4" id = "batch1">Batch 1</th>
                </tr>
            {% for user in batch1 %}
            <tr>
                    <td class = 'name'>{{ user.name }}</td>
                    <td>{{ user.phoneNumber }}</td>
                    <td>{{ user.classesAttended }}</td>
                    <td>{{ user.lastAttended }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tbody>
                <tr>
                    <th colspan="4" id = "batch2">Batch 2</th>
                </tr>
            {% for user in batch2 %}
            <tr>
                    <td class = 'name'>{{ user.name }}</td>
                    <td>{{ user.phoneNumber }}</td>
                    <td>{{ user.classesAttended }}</td>
                    <td>{{ user.lastAttended }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</div>
{% endblock %}