{% extends "Registry/studentBase.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href = '{% static "css/studentSendMessage.css" %}'>
{% endblock %}

{% block body %}
    <div id = 'allMessage'>
        <a href="{% url 'studentViewMessage' %}" id = "back"><i class="fas fa-arrow-left"></i> Back</a>
        <form method="POST" id = "form">
            {% csrf_token %}
                <label id = "tag"> Message: </label>
                {{ form.message }}

                <input type="submit" value="Send" id="submit-btn">
        </form>
</div>
{% endblock %}