{% extends "Registry/studentBase.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href = {% static "css/adminMessage.css" %}>
{% endblock %}

{% block body %}
    <div id = 'allMessage'>
    <form method="POST" id = "form">
        {% csrf_token %}
        <div class = "form-group" id = "messageBox">
            <label> Message: </label>
            <textarea rows = '6' class="form-control text-wrap" type="text" name = "message" placeholder="Message here"></textarea>

            <input type="submit" value="Post" class="btn login-btn btn-warning">
        </div>
    </form>
    {% if message %}
    {{ message }}
    {% endif %}
</div>
{% endblock %}