#upload{
    position: relative;
    top: calc(3vh);
    width: 60%;
    margin: auto;
}

#file-message{
    font-size: calc(3vh);
    padding-bottom: calc(1vh);
}

#file-chooser{
    margin-top: calc(3vh);
    padding-bottom: calc(3vh);
}

#selectTable{
    width: 50%;
    margin: auto;
    padding-top: calc(5vh);
}

@media (max-width: 768px){
    #upload{
        width: 80%;
    }

    #selectTable{
        width: 100%;
    }
}