#allMessage{
    width: 60%;
    margin: auto;
    padding-top: calc(5vh);
}

#tag{
    font-size: calc(3vh);
}

#selectTable{
    width: 50%;
    margin: auto;
    padding-top: calc(5vh);
}

@media (max-width: 768px){
    #allMessage{
        width: 80%;
    }
    #selectTable{
        width: 100%;
    }
}