th, td{
    text-align: center;
    width: calc(20vw);
}
#allFiles{
    min-height: calc(80vh);
    max-width: calc(60vw);
    padding-top: calc(5vh);
    margin: auto;
}

table{
    width: 100%;
    margin: auto;
}

#sender{
    margin: auto;
    font-size: calc(4vh);
    padding-bottom: calc(3vh); 
    text-decoration: none;
}

#tags{
    margin: auto;
    font-size: calc(3vh);
    padding-bottom: calc(2vh);
}

#info-tag{
    font-size: 2.5rem;
    text-align: center
}

fieldset{
    visibility: hidden;
}

.fa-arrow-right{
    font-size: 28px;
}

tbody > tr:nth-child(even){
    background-color: lightgray;
}

tbody > tr:hover{
    background-color: lightgray;
}

table, th, td, tr{
    border-collapse: collapse;
    border: 1px solid black;
}

th, td, tr{
    padding:2px;
}

#no-message{
    width: fit-content;
    margin: auto;
}

#submit-btn{
    left: 0;
}

@media (max-width: 768px){
    
    #allFiles{
        max-width: calc(80vw);
    }

    #encloseTable{
        width: auto;
    }

    th, td{
        width: calc(26.4vw);
    }
}