#allMessages{
    min-height: calc(80vh);
    position: relative;
}

.striped > tbody > tr:nth-child(4n+1) > td, .striped > tbody > tr:nth-child(4n+1) > th {
    background-color: rgba(0, 0, 0, 0.1);
}

.accordion-toggle{
    text-decoration: none;
}

table{
    max-width: 60%;
    margin: auto;
}

.fa-arrow-right{
    font-size: 28px;
}

#sentMessages{
    max-width: 60%;
    margin: auto;
    padding: calc(3vh);
}

#sender{
    max-width: 60%;
    margin: auto;
    font-size: calc(3vh);
    padding-bottom: calc(3vh);
    padding-top: calc(5vh);
}

#sender a{
    text-decoration: none;
    font-size: 2rem;
}

.collapse{
    text-decoration: none;
}

th, td{
    text-align: center;
    word-wrap: break-word;
    hyphens: auto;
}

#tags{
    max-width: 60%;
    margin: auto;
    font-size: calc(3vh);
}

#no-message{
    width: fit-content;
    margin: auto;
}

.hidden{
    display: none;
}

a{
    text-decoration: none;
}

tbody > tr:nth-child(even){
    background-color: lightgray;
}

tbody > tr:hover{
    background-color: lightgray;
}

table, th, td, tr{
    border-collapse: collapse;
    border: 1px solid black;
}

th, td, tr{
    padding:2px;
}

@media (max-width: 768px){
    table, #sentMessages, #sender, #tags{
        max-width: 80%;
    }
}