th, td{
    text-align: center;
}

#allMessage{
    width: 60%;
    margin: auto;
    padding-top: calc(5vh);
}

#tag{
    font-size: 3rem;
}

#selectTable{
    width: 50%;
    margin: auto;
    padding-top: calc(5vh);
}

.back{
    font-size: 2rem;
}

.fa-arrow-left{
    font-size: 28px;
}

#ease{
    visibility: hidden;
}

@media (max-width: 768px){
    #allMessage{
        width: 80%;
    }
    #selectTable{
        width: 100%;
    }

    #ease{
        visibility: visible;
    }
}