html, body{
    width: 100%;
}

.container-fluid{
    padding-left: 0%;
    padding-right: 0%; 
    margin-right: 0%;
}

.navbar-brand{
    font-size: calc(5vh);
}

.nav-link{
    font-size: calc(3vh);
}

#body{
    padding: 0%;
    border: 0ch;
    margin: 0%;
    max-width: 100%;
    min-height: calc(80vh);
    overflow: auto;
}

.footer{
    position: relative;
    bottom: 0%;
    width: 100%;
    height: min-content;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

#contactLinks{
    color:white;
    font-size: 24px;
}

#contributors{
    color:white;
    word-wrap: break-word;
    font-size: calc(1.5vh);
}

#body{
    position: relative;
    padding-bottom: 50%;
}

.darkness{
    text-decoration: none;
    color: white;
}

@media (min-width: 768px){
    #title{
        padding-left: calc(1vw);
        padding-right: calc(2vw);
    }

    #body{
        height: calc(76vh);
    }

    .footer{
        position: fixed;
        left: 0;
        bottom: 0;
    }
}