#allMessage{
    position: relative;
    min-height: calc(80vh);
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
}

#form{
    position: relative;
    margin: auto;
    height: 100%;
}

#messageBox{
    margin: auto;
    width: 100%;
}

#messageBox label{
    position: relative;
    margin: auto;
    top: 30%;
    font-weight: bold;
    font-size: calc(3vh);
}

.form-control{
    top: 30%;
    width: calc(60vw);
   /* height: calc(50vh);*/
}

.btn-warning{
    position: relative;
    margin-top: 5%;
    width: 80px;
}
    
#selectTable{
    margin: auto;
    padding-bottom: 5%;
    top: 75%; 
    width: auto;
    height: auto;
}

#selectTable th{
    text-align: center;
}

.labels, .check{
    padding: 0%;
    margin: 0%;
    border: 0ch;
    font-size: auto;
}

@media (max-width: 768px){
    .btn-warning{
        margin-top: 5%;
        left: 55%;
    }
    #selectTable{
        left: 25%;
    }
}

@media (min-width: 768px){
    .btn-warning{
        margin-top: 3%;
        left: 90%;
    }
}