#allMessages{
    min-height: calc(80vh);
    position: relative;
}

.striped > tbody > tr:nth-child(4n+1) > td, .striped > tbody > tr:nth-child(4n+1) > th {
    background-color: rgba(0, 0, 0, 0.1);
}

.accordion-toggle{
    text-decoration: none;
}

#receivedMessages{
    max-width: 60%;
    margin: auto;
}

.fa-arrow-right{
    font-size: 28px;
}

#sentMessages{
    max-width: 60%;
    margin: auto;
    padding: calc(3vh);
}

#sender{
    max-width: 60%;
    margin: auto;
    font-size: calc(3vh);
    padding-bottom: calc(3vh);
    padding-top: calc(5vh);
}

#sender a{
    text-decoration: none;
    font-size: 2rem;
}

.collapse{
    text-decoration: none;
}

th, td{
    text-align: center;
    word-wrap: break-word;
    hyphens: auto;
}

#tags{
    max-width: 60%;
    margin: auto;
    font-size: calc(3vh);
}

@media (max-width: 768px){
    #receivedMessages, #sentMessages, #sender, #tags{
        max-width: 80%;
    }
}