th, td{
    text-align: center;
}

#attendanceAll{
    width: 90%;
    height: 100%;
    margin: auto;
    padding-top: calc(5vh);
}

#niceness{
    font-size: 1.5rem;
}

#guides{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 0%;
}

#guides a{
    font-size: 2rem;
    text-decoration: none;
}

#batch1, #batch2{
    text-align: center;
    font-size: calc(2.5vh);
}

#formTable{
    position: relative;
    margin: auto;
}

#submit{
    position: relative;
}

#ease{
    visibility: visible;
}

@media (min-width: 768px){
    br{
        display: none;
    }
    #attendanceAll{
        width: 60%;
    }

    #ease{
        visibility: hidden;
    }
}