th, td{
    text-align: center;
}

#attendanceAll{
    width: 60%;
    height: 100%;
    margin: auto;
    padding-top: calc(5vh);
}

#niceness{
    font-size: 1.5rem;
}

#guides{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 0%;
}

#guides a{
    font-size: 2rem;
    text-decoration: none;
}

#batch1, #batch2{
    text-align: center;
    font-size: calc(2.5vh);
}

table{
    margin: auto;
}

#ease{
    display: none;
    text-align: center;
    color: black;
    padding: 1rem;
}

br{
    display: none;
}


tbody > tr:nth-child(even){
    background-color: lightgray;
}

tbody > tr:hover{
    background-color: lightgray;
}

table, th, td, tr{
    border-collapse: collapse;
    border: 1px solid black;
}

th, td, tr{
    padding:2px;
}


@media (max-width: 768px){
    #search-bar{
        width: 75%;
    }

    #ease{
        display: unset;
        float: right;
    }

    #attendanceAll{
        width: 90%;
    }

    br{
        display: unset;
    }
}