#allFiles{
    min-height: 80vh;
    width: 60vw;
    margin:auto;
    padding-top: 5vh;
}

table{
    width: 100%;
    margin: auto;
}

tbody > tr:nth-child(odd){
    background-color: lightgray;
}

tbody > tr:hover{
    background-color: lightgray;
}

table, th, td, tr{
    border-collapse: collapse;
    border: 1px solid black;
}

th, td, tr{
    padding:2px;
}

#no-message{
    width: fit-content;
    margin: auto;
}

#submit-btn{
    left: 0;
    margin-top: 10px;
}

#niceness{
    font-size: 2.1rem;
    text-align: center;
}

#tags{
    font-size: 1.5rem;
}

fieldset{
    visibility: hidden;
}

@media (max-height: 768px){
    #allFiles{
        width: 90vw;
    }
}