#full{
    position: relative;
    padding-top: calc(5vh);
    width: max-content;
    margin: auto;
}

#niceness{
    font-size: 1.2rem;
}

#guides{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 0%;
    scroll-behavior: smooth;
}

#guides a{
    text-decoration: none;
    font-size: 2rem;
}

#batch1, #batch2 {
    font-size: 2rem;
}

tbody > tr:nth-child(even){
    background-color: lightgray;
}

tbody > tr:hover{
    background-color: lightgray;
}

table, th, td, tr{
    border-collapse: collapse;
    border: 1px solid black;
}

th, td, tr{
    padding:2px;
}

@media (max-width: 768px){
    #full{
        overflow-x: hidden;
    }
    #data-table{
        max-width: calc(95vw);
        margin: auto;
    }
}