#full{
    position: relative;
    padding-top: calc(5vh);
    width: max-content;
}

.table{
    overflow-x: auto;
}

.table th{
    text-align: center;
}

#niceness{
    font-size: 1.2rem;
}

#guides{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 0%;
    scroll-behavior: smooth;
}

#guides a{
    text-decoration: none;
    font-size: 2rem;
}

#batch1, #batch2 {
    font-size: 2rem;
}

@media (min-width: 768px){
    #full{
        margin: auto;
    }
}

@media (max-width: 768px){
    #full{
        overflow-x: hidden;
        margin: auto;
    }
    .table{
        max-width: calc(95vw);
        margin: auto;
    }
}