#upload{
    position: relative;
    padding-top: calc(5vh);
    min-height: calc(80vh);
    width: calc(80vw);
    margin: auto;
    display: flex;
    flex-direction: column;
}

#file-message{
    font-size: calc(4vh);
}

#file-chooser{
    margin-top: calc(2vh);
}

#file-submit{
    margin-top: calc(2vh);
}

@media (min-width: 768px){
    #file-desc{
        width: calc(60vw);
        margin: auto;
    }

    #aligners{
        position: relative;
        width: calc(60vw);
        margin: auto;
    }
}
